* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    /* margin: 5vh 0 */
}

button {
    font-size: 5vw;
}

.app--nav a{
    color: white;
    text-decoration: none;
}
.app--nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(71, 70, 70);
    font-size: 2rem;
}


.movieList--container, .heroList--container {
    display: flex;
    flex-wrap: wrap;
    
}

.movieLink--container, .heroLink--container {
    margin: auto;
    border-radius: 10px;
}

.movieLink--container img, .heroLink--container img {
    width: 28vw;
    height: auto;
}

.list--link {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.Alphabet nav {
    width: auto;
    height: 100vh;
    background-color: rgb(109, 109, 109);
    float: left;
    padding: 2%;
}

.alphabet--letter {
    font-size: 2rem;
    margin: 1vww;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}

.list--link h3 {
    width: 26vw;
    height: 10vh;
    text-align: center;
    font-size: 2vh
}

.HeroCard h1 {
    font-size: 10vw;
    margin: 1vh;
}

.hero--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}

@media screen and (min-width: 381px) {
    .list--link h3{
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 436px) {
    .list--link h3{
        font-size: 3vw;
    }
}

@media screen and (min-width: 700px) {
    .list--link h3{
        font-size: 3vw;
        height: 20vh;
    }
}

@media screen and (min-width: 1000px) {
    .list--link h3{
        font-size: 3vw;
        height: 20vh;
    }
}









/* .MovieList {
    text-align: center;
}

.movieList--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movieLink--container  {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieLink--container img {
    width: 25vw;
}

.movieLink--container h3 {
    height: 5vh;
    width: 20vw;
    font-size: 60%;
}

.list--link {

} */