
/* ------------------------------------------------------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height:100vh
}

h1 {
    text-align: center;
    /* color: white; */
    /* -webkit-text-stroke: black 1px; */
}

button {
    font-size: 1em;
    margin: 2vw 2vh;
}

.App {
    background-image: url('https://mfiles.alphacoders.com/343/343530.jpg');
    /* position: relative; */
    background-size: cover;
    width: 100vw;
    height: 100vh;
} 

.app--nav a{
    color: rgb(0, 208, 187);
    text-decoration: none;
}

.app--nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(71, 70, 70);
    font-size: 2rem;
    padding: 1vh;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Home > h1, .MovieList > h1 {
    color: white;
    font-size: 3rem;
}

.welcomeBackground {
    background-color: rgba(255, 255, 255, 0.895);
    color: black;
    /* height: 90vh; */
    width: 90vw;
    padding: 10%;
}

.welcomeBackground h2 {
    text-align: center;
}

.heroFight{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroFight h2{
    text-align: center;
}

.fighter1, .fighter2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.heroFight ul {
    text-align: left;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieLink--container, .heroLink--container {
    background-color: rgba(255, 255, 255, 0.895);
    border-radius: 10px;

}

.movieLink--container img, .heroLink--container img {
    /* width: 28vw; */
    height: auto;
    margin: 1vh .7vw;
    border-radius: 10px;
}

.alphabet--home {
    background-color: rgba(255, 255, 255, 0.895);
    margin: 20% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.wolverine {
    width: 80vw;
}

.Alphabet > ul {
    background-color: grey;
    list-style: none;
    float: left;    
    /* padding: 0; */
}

.alphabet--letter {
    color: rgb(0, 208, 187);    
}

.HeroList h1 {
    color: white;
    padding: 3%;
}

.HeroCard {
    background-color: rgba(255, 255, 255, 0.895);
}

.movieList--container, .heroList--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    height: 81vh;
    overflow: scroll;
}

.list--link {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.list--link h3 {
    width: 26vw;
    height: 5vh;
    text-align: center;
    font-size: 2vh;
    margin: 1vh 1vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.HeroCard h1 {
    font-size: 10vw;
    margin: 1vh;
}

.hero--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10%;
}



@media screen and (min-width: 314px) {

    .app--nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(71, 70, 70);
        font-size: 1.5rem;
        padding: 1vh;
    }

    .list--link h3{
        font-size: 3.5vw;
    }

    .movieLink--container img, .heroLink--container img {
        width: 25vw;
        height: auto;
        border-radius: 10px;
    }

    .movieLink--container, .heroLink--container {
        margin: .5vh;
    }

    .alphabet--letter {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 436px) {
    .list--link h3{
        font-size: 3vw;
    }
}

@media screen and (min-width: 700px) {
    .list--link h3{
        font-size: 3vw;
        height: 20vh;
    }
}

@media screen and (min-width: 1000px) {
    .list--link h3{
        font-size: 3vw;
        height: 20vh;
    }
}




