* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vh 3vw ;
  border: 1px solid grey;
  /* width: 40vh;
  height: 40vw; */
  
}

.display--background {
  height: 50vh;
  width: 50vh;
  background-color: green;
  /* margin: 10vh; */
}

.container--inputs {
  grid-column: 2 / 3;
}

.gradiant {
  width: 3vw;
  margin: 3vh
}

.input--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vh 0vw

}
